/*@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rajdhani', sans-serif;
    background: #ddd;
    color: #ff7750;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: 'Rajdhani', sans-serif;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    letter-spacing: 5px;
    display: inline-block;
    transition: 0.5s ease;
    font-size: 1.5rem;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 15px;

    padding: 1.5rem 1.5rem;
}

.btn:hover {
    background: #ff7750;
    color: #222;
    font-weight: bold;
}

.section {
    padding-bottom: 5rem;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

nav {
    background: #ccc;
    padding: 1rem 1.5rem;
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ddd;
    box-shadow: #ccd;
}
.fixed-nav .links a {
    color: darkred;
}
.fixed-nav .links a:hover {
    color: goldenrod;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-toggle {
    font-size: 1.5rem;
    color: #222;
    background: transparent;
    border-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-toggle:hover {
    color: #444;
}
.logo {
    height: 50px;
}
.links-container {
    height: 0;
    overflow: hidden;
    transition: 0.7s ease-in-out;
}
.show-links {
    height: 200px;
}
.links a {
    background: transparent;
    color: #222;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 5px;
    display: block;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    padding: 0.75rem 0;
}
.links a:hover {
    color: #fff;
}
@media screen and (min-width: 800px) {
    nav {
        background: transparent;
    }
    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links-container {
        height: auto !important;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: darkred;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 10px;
        display: block;
        transition: 0.5s ease-in;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover {
        color: #777;
    }
}

header {
    min-height: 100vh;
    background: url(../../image.jpg) center/cover no-repeat;
}
.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}
.container h1 {
    color: #fff;
    text-transform: uppercase;
}
.container h2 {
    color: #fff;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
}

.title h2 {
    text-align: center;
    text-transform: uppercase;
}

#sobre,
#skills,
#info {
    height: 80vh;
}
#skills {
    background: #323232;
}
footer {
    background: #333;
    padding: 5rem 1rem;
}
footer p {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.top-link {
    font-size: 1rem;
    color: #ff7750;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 10px;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}
*/